.nav-hover {
  transition: color 0.3s ease-in-out;
}

.nav-hover:hover {
  color: #0073b1 !important; /* LinkedIn blue */
}

.sidebar {
  background-color: #f3f3f3;
}

.rightbar {
  background-color: #f3f3f3;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
}

/* Add this CSS for underline effect */
.nav-item:hover,
.nav-item:focus,
.nav-item.active {
  text-decoration: underline !important;
}

body {
  margin: 0;
  padding-top: 56px; /* Adjust to the height of your navbar */
  overflow-x: hidden;
}

.main-content {
  margin-left: 30px;
  margin-right: 30px;
}
